---
import { HiArrowRight } from "react-icons/hi";
import MiFoto from "../../../assets/img/MiFoto.png";

const basePath = import.meta.env.BASE_URL;
---

<section class="relative -mt-6 flex items-center justify-center px-4 pt-0 md:-mt-10 md:pt-0">
  <div
    class="absolute inset-0 -z-10 mx-auto max-w-6xl blur-3xl"
    aria-hidden="true"
  >
    <div class="h-[450px] w-full rounded-full bg-[#7836cf]/5"></div>
  </div>

  <div
    class="mx-auto flex max-w-4xl flex-col-reverse items-stretch gap-6 md:flex-row"
  >
    <div
      class="mx-auto flex aspect-square w-56 shrink-0 items-center justify-center overflow-hidden rounded-full p-0 shadow-lg drop-shadow-[4px_4px_0_#7836cf] md:mx-0 md:w-72"
    >
      <img
        src={MiFoto.src}
        alt="Photo of Paul Pop"
        class="h-full w-full object-cover"
      />
    </div>

    <div
      class="bg-gray-900 border-none flex w-full flex-col justify-center rounded-2xl border p-6 shadow-lg md:w-2/3 drop-shadow-[4px_4px_0_#7836cf]"
    >
      <h2 class="text-white text-4xl font-bold drop-shadow-[2px_2px_0_#7836cf]">
        About Me
      </h2>
      <p class="mt-2 font-semibold">
        I’m Paul Pop, a Unity Game Developer focused on building polished
        gameplay systems, optimizing performance, and delivering scalable
        solutions for live mobile games.
      </p>

      <a
        href={`${basePath}about/`}
        class="group mt-4 inline-flex items-center text-primary font-bold transition-all"
      >
        View more about me
        <HiArrowRight
          className="ml-1 transition-transform duration-200 group-hover:translate-x-1"
          size={18}
        />
      </a>
    </div>
  </div>
</section>
