---
import "../styles/projects.css";
import Layout from "../layouts/Layout.astro";
import Hero from "../components/commons/hero/hero.astro";
import Banner from "../components/commons/banners/banner.astro";
import ProjectsIsland from "../components/projects/ProjectsIsland";
---

<Layout title="Projects" description="Projects">
  <Hero title="Projects" />

  <!-- Interactive projects section -->
  <section class="mt-10">
    <ProjectsIsland client:visible />
  </section>

  <Banner />
</Layout>
